.channel-videos {
    .sort-by {
        padding: 10px 0;
        margin-bottom: 10px;
        ul {
            display: flex;
            gap: 10px;
            li {
                background-color: rgba(240, 248, 255, 0.295);
                color: #ffff;
                padding: 5px 10px;
                border-radius: 5px;
                text-transform: capitalize;
                cursor: pointer;
                &:hover {
                    background-color: rgba(240, 248, 255, 0.548) ;
                }
                &.active {
                    background-color:  rgb(255, 255, 255);
                    color: black;
                }
            }
        }
    }
}