@import "../../Styles/Variabls";
@import "../../Styles/Mixin";

.video-card {
  border-radius: $border-r-10;
  transition: all 0.5s ease-in-out;
  margin-bottom: $marging-10;
  .video-img {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    @media (min-width: 430px) {
      border-radius: $border-r-10;
    }
    span.nav-watch {
      background-color: transparent;
      z-index: 9999;
    }
    img {
      width: 100%;
    }
    span {
      position: absolute;
      bottom: 8px;
      padding: 0px 5px 2px;
      background-color: $trans-black;
      color: $light-color;
      border-radius: $border-r-10;
      font-size: $font-size-6;
      font-weight: 500;
      &.live {
        background-color: $logo-color;
        padding: 0px $padding-m;
        div {
          display: flex;
          gap: $gap-m;
          svg {
            font-size: 20px;
          }
        }
      }
    }
  }
  .content {
    padding:$padding-10;
    flex: 1;
    overflow: hidden;
    .wrapper {
      @include flex-box(flex-start);
      a.img {
        @include flex-box();
        min-width: fit-content;
        img {
          width: 36px;
          height: 36px;
          border-radius: 50%;
        }
      }
      .titles {
        a {
          .chanel-title {
            @include flex-box();
            font-size: $font-size-6;
        }
          .video-title {
              font-size: $font-size-5;
          }
        }
        .video-desc {
          display: none;
          font-size: $font-size-6;
          @media (min-width: 540px) {
            display: block;
          }
        }
      }
    }
    .stats {
      @include flex-box();
      .moment {
        @include flex-box(_, _, $gap-5);
        font-size: $font-size-6;
        svg {
          font-size: 17px;
        }
      }
    }
  }
  &.watch,
  &.search {
    .content {
      a.img {
        @media (min-width: 430px) {
          display: none;
        }
      }
    }
    @media (min-width: 430px) {
      @include flex-box();
      margin-bottom: $margin-l;
      .video-img {
        flex: 1;
      }
      .content {
        padding: 0;
        flex: 1.3;
      }
    }
  }
  &.search {
    @media (min-width: 768px) {
      .titles {
        * {
          margin-bottom: $margin-m;
        }
      }
      .content {
        flex: 3;
      }
    }
    @media (min-width: 992px) {
      .content {
        flex: 2.5;
      }
    }
  }
}
