@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";

.search-recorder {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #0000002a;
    @include flex-box (flex-start,center,0);
    z-index: 99999999999;
    padding: $padding-l;
    .recorder-container {
        background-color: $back-gr-color-light;
        max-width: 500px;
        border-radius: $border-radius-m;
        padding: $padding-l $padding-m;
        &.dark {
            background-color: $back-gr-color-dark;
        }
        .recorder-header {
            .cancel {
                span {
                    svg {

                    }
                }
            }
            .listing {

            }
        }
        .recorder-box {
            .rec-mike {
                span {
                    svg {

                    }
                }
            }
        }
    }
}