@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";

.search-recorder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: #0000007c;
    @include flex-box (flex-start,center,0);
    z-index: 99999999999;
    padding: $padding-l;
    .recorder-container {
        background-color: $back-gr-color-light;
        width: 500px;
        max-width: 100%;
        border-radius: $border-radius-m;
        padding: $padding-l;
        &.dark {
            background-color: lighten($color: $back-gr-color-dark, $amount: 10);
        }
        .recorder-header {
            .cancel {
                span {
                    cursor: pointer;
                    svg {
                        font-size: $font-size-l + 10;
                    }
                }
            }
            .listing {

            }
        }
        .recorder-box {
            @include flex-box(center,center);
            .rec-mike {
                margin-top: 100px;
                background-color: $back-gr-color-dark;
                width: fit-content;
                border-radius: 50%;
                cursor: pointer;
                span {
                    svg {
                        font-size: 60px;
                        color: $text-color-light-m;
                    }
                }
            }
        }
    }
}