@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";
.related-videos {
    @media (min-width: 430px) {
        padding: $padding-l;
    }
    .listing {
        border-bottom: 1px solid darken($color: $back-gr-color-light, $amount: 5);
        margin-bottom: $margin-l + 10;
        &.dark {
           border-bottom: 1px solid lighten($color: $back-gr-color-dark, $amount: 5);
        }
        @media (min-width: 620px) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        @media (min-width: 920px) {
            grid-column-end: 4;
        }
        h5.listing-title {
            color: $text-color-dark-l;
            font-size: $font-size-l;
            margin: $margin-l 0;
            &.dark {
               color: $text-color-light-l;
            }
            @include flex-box(center);
            img {
                width: 20px;
            }
        }
        .shorts-container {
            @include flex-box;
            overflow: auto;
            padding: $padding-l 0;
        }
    } 
}