
@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';


.main-chan-card {
    @include flex-box(center,center);
    max-width: 992px;
    .card {
        @include flex-box(center,center);
        .img-l {
            width: 46px;
            height: 46px;
            .chan-img {
                width: 46px;
                height: 46px;
                border-radius: 50%;
            }
        }
    }
    .subscribe {
        @include flex-box(center,space-between);
        flex: 1;
        .subsc-title {
            .name-l {
                .name {
                    @include flex-box(center,flex-start,$gap-m);
                    font-size: $font-size-l;
                    color: $text-color-dark-l;
                    &.dark {
                       color: $text-color-light-l;
                    }
                    svg {
                        font-size: 16px
                    }
                }
            }
            .subsc {
                font-size: $font-size-m;
                color: $text-color-dark-m;
                text-transform: capitalize;
                &.dark {
                    color: $text-color-light-m;
                 }
            }
        }
        .subsc-btn  {
           @include flex-box(center,center,$gap-m);
            padding: $padding-m $padding-l;
            border-radius: $border-radius-l;
            font-size: $font-size-l;
            font-weight: bold;
            background-color: darken($back-gr-color-light,5);
            color: $text-color-dark-l;
            text-transform: capitalize;
            &:hover {
                background-color: darken($back-gr-color-light,10); 
            }
            &.dark {
                color: $text-color-light-l;
                background-color: lighten($back-gr-color-dark,5);
                &:hover {
                    background-color: lighten($back-gr-color-dark,10);
                }
            }
        }
    }
    &.home, &.search{
        align-items: center;
        flex-direction: row;
        padding: 0;
        margin: 20px auto;
        gap: 15px;
        .card {       
            .img-l {
                width: 150px;
                height: 150px;
                .chan-img {
                    width: 150px;
                    height: 150px;
                }
            }
            .chan-desc {
                color: $text-color-dark-m;
                &.dark {
                  color: $text-color-light-m;
                }
            }
      }
      .subscribe {
        flex-direction: row;
        justify-content: space-between;
      }
    }
    &.channel {
        align-items: flex-start; 
        margin: 10px 0;
        .name {
            @media (min-width:530px) {
                font-size: 33px !important;   
            }
        } 
        .subscribe {
          display: block;
          .chan-desc {
            color: $text-color-dark-m;
            font-size: 10px;
            margin: 10px 0;
            cursor: pointer;
            &.dark {
              color: $text-color-light-m;
            }
            @media (min-width:530px) {
                font-size: 18px;   
            }
          }
          }
        .card {     
            .img-l {
                width: 70px ;
                height: 70px;
                    .chan-img {
                        width: 70px ;
                        height: 70px;
                    }
                
                @media (min-width:530px) {
                    width: 160px ;
                    height: 160px;
                    .chan-img {
                        width: 160px ;
                        height: 160px;
                    }
                    
                }
            }
      }
    }
    &.search {
        @media (min-width: 430px){
            gap: 10px;
            .card {
                flex: 1;
                .img-l{
                    width: 90px;
                    height: 90px;
                }
            }
            .subscribe {
                padding: 0;
                padding-left: 10px;
                flex: 1.4;
            }
        }
        @media (min-width:768px) {
            .subscribe  {
                flex: 3;
            }
        }
        @media (min-width:992px) {
            .subscribe {
                flex: 2.5;
            }
        }
    }
    &.watch {
       margin-bottom: 15px; 
       .subscribe {
        @media (min-width:768px) {
            justify-content: flex-start;   
        }
       }
    }
    &.home-channel {
        .card {     
            .img-l {
                width: 70px ;
                height: 70px;
                    .chan-img {
                        width: 70px ;
                        height: 70px;
                    }
                
                @media (min-width:530px) {
                    width: 160px ;
                    height: 160px;
                    .chan-img {
                        width: 160px ;
                        height: 160px;
                    }
                    
                }
            }
      } 
    }
}