
@import '../../GlibalStyles.scss/Variabls';

.chanel-details {
    .container {
         .channel-nav {
            position: sticky;
            top: 50px;
            width: 100%;
            overflow-y: auto;
            z-index: 99999;
            padding: 10px;
            .nav {
                display: flex;
                gap: 10px;
                border-bottom: 1px solid #bbb;
                padding-bottom: 5px;
                width: fit-content;
                margin: 0 auto;
                
                li {
                    position: relative;
                    min-width: fit-content;
                    padding: 5px 10px;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-weight: 500;
                    border: 1px solid;
                    border-color: transparent #adaaaa #c5c5c5 transparent;
                    border-radius: 6px;
                    box-shadow: inset -1px -1px 5px 0px #adadad;
                    color: #8dcaef;
                    cursor: pointer;
                    transition: all .4s ease-in-out;
                    &:hover, &.active {
                        box-shadow: inset 0px 0px 5px 0px #adadad;
                        border: 1px solid #b6b6b6;
                        font-size: 14px;
                        color: #5a8ca8 !important;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 0;
                        height: 4px;
                        background-color: #adaaaa;
                    }
                }
            }
         }
         .channel-content {
            max-width: 1170px;
            margin: 0 auto;
            .playlist-container {
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(330px,1fr));
                gap: 10px;
            }
            .channel-shorta {
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
                gap: 10px;
            }
         }
    }
}