@import "../../../GlibalStyles.scss/Variabls";
@import "../../../GlibalStyles.scss/Mixin";

.loader-moviement {
    position: relative;
    overflow: hidden;
    &::before {
        @include position();
        width: 0;
        animation: laoderBackgroundMove 2s ease-in-out infinite forwards;
    }
}

.home-loader {
    padding: $padding-10;
    .loader-nav {
        @include flex-box;
        margin-bottom: $marging-20;
        li {
           min-height: 30px;
           min-width: 170px;
           border-radius: $border-r-10;
        }
    }
    .loader-conyainer {
        @include grid-box(340px,1fr);
        .loader-card {
            min-width:340px;
            .loader-image {
                min-width: 100%;
                min-height: 190px;
                border-radius: $border-r-10;
                margin-bottom: $marging-10;
                @media (min-width: 992px) {
                    min-height: 220px;
                }
            }
            .loader-box {
                @include flex-box;
                .image {
                    border-radius: $border-r-full;
                    width: 35px;
                    height: 35px;
                }
                .lod-t-box {
                    
                    flex: 1;
                    .chn-n , .laoder-ch-name{
                        height: 35px;
                        margin-bottom: $marging-5;
                        border-radius: $border-r-10;
                    }
                }
            }
        }
    }
}

@keyframes laoderBackgroundMove {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;

    }
}