@import "../../../GlibalStyles.scss/Variabls";
@import "../../../GlibalStyles.scss/Mixin";

.loader-moviememnt {
    position: relative;
    overflow: hidden;
    background-color: darken($color: $back-gr-color-light, $amount: 3);
    &::before {
        position: absolute;
        content: '';
        background-color: darken($color: $back-gr-color-light, $amount: 2);
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        animation: laoderBackgroundMove 2s ease-in-out infinite forwards;
    }
    &.dark {
        background-color: lighten($color: $back-gr-color-dark, $amount: 3);
        &::before {
            background-color: lighten($color: $back-gr-color-dark, $amount: 2);
        }
    }

}

.home-loader {
    .loader-nav {
        @include flex-box;
        margin-bottom: 20px;
        li {
            min-height: 30px;
           min-width: 170px;
           border-radius: $border-radius-l;
        }
    }
    .loader-conyainer {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
        gap: $gap-l;
        .loader-card {
            min-width:340px;
            .loader-image {
                min-width: 100%;
                min-height: 190px;
                border-radius: $border-radius-l;
                margin-bottom: 10px;
                @media (min-width: 992px) {
                    min-height: 220px;
                }
            }
            .loader-box {
                @include flex-box;
                .image {
                    border-radius: 50%;
                    width: 35px;
                    height: 35px;
                }
                .lod-t-box {
                    
                    flex: 1;
                    .chn-n {
                        height: 35px;
                        margin-bottom: 5px;
                        border-radius: $border-radius-l;
                    }
                    .laoder-ch-name {
                        height: 35px;
                        border-radius: $border-radius-l;
                        position: relative;
                    }
                }
            }
        }
    }
}

@keyframes laoderBackgroundMove {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;

    }
}