.error {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    h3 {
       font-size: 16px;
       font-weight: bold;
       color: #f88cfc;
    }
    button {
        padding: 3px 10px;
        font-size: 14px;
        background-color: #003b6a;
        color: #f88cfc;
        text-transform: capitalize;
        border-radius: 6px;
    }
}