
.p-list-v {
    max-width: 1310px;
    margin: 0 auto;
    @media (min-width: 992px) {
        display: flex;
        align-items: flex-start;
        gap: 15px;
        .video {
            flex: 2;
        }
        .right-videos {
           flex: 1;
        }
    }
    .right-videos {
        @media (min-width: 1170px) {
        
           flex: 0.9;
         
        }
    }
}