// colors

$primary-color: #003b6a;
$light-pr-color: #1a6199;
$blue-color: #3683c1;
$light-bl-color: #5e9dcf;
$socnedary-color:#14d814;

$text-color-dark-l : #09300d;
$text-color-dark-m:#021a06;

$text-color-light-l : #e7ffea;
$text-color-light-m: darken($text-color-light-l,5);
$back-gr-color-dark:#020a02;
$back-gr-color-light:#cffacf;        
$trans-black: #010716b7;

$logo-color: #22d422;

$gap-l : 10px;
$gap-m : $gap-l / 2;
$border-radius-l : 5px;
$border-radius-m : $border-radius-l / 2;
$padding-l: 10px;
$padding-m: $padding-l / 2;
$margin-l: 10px;
$margin-m: $margin-l / 2;

$font-size-l: 16px;
$font-size-m: 12px;
$logo-font-size: 20px;

$max-container-width : 1400px;


$font-size-1: 2rem;
$font-size-2: 1.9rem;
$font-size-3: 1.7rem;
$font-size-4: 1.5rem;
$font-size-5: 1.2rem;
$font-size-6: 1rem;

$padding-5 : 5px;
$padding-10: 10px;
$padding-15: 15px;
$padding-20: 20px;
$padding-25: 25px;
$padding-30: 30px;
$padding-40: 40px;
$padding-50: 50px;

$marging-5 : 5px;
$marging-10: 10px;
$marging-15: 15px;
$marging-20: 20px;
$marging-25: 25px;
$marging-30: 30px;
$marging-40: 40px;
$marging-50: 50px;

$gap-5 : 5px;
$gap-10: 10px;
$gap-15: 15px;
$gap-20: 20px;
$gap-25: 25px;
$gap-30: 30px;
$gap-40: 40px;
$gap-50: 50px;

$border-r-5 : 5px;
$border-r-10: 10px;
$border-r-15: 15px;
$border-r-20: 20px;
$border-r-25: 25px;
$border-r-30: 30px;
$border-r-40: 40px;
$border-r-full: 50%;


$dark-color: #001d1b;
$light-color: #f5fffe;


$text-Colors : (
    "dark": $light-color,
    "light": $dark-color,
);

$back-colors : (
    "dark": $dark-color,
    "light": $light-color,
);