// colors

$primary-color: #003b6a;
$light-pr-color: #1a6199;
$blue-color: #3683c1;
$light-bl-color: #5e9dcf;
$socnedary-color:#14d814;

$text-color-dark-l : #09300d;
$text-color-dark-m:#021a06;

$text-color-light-l : #e7ffea;
$text-color-light-m: darken($text-color-light-l,5);
$back-gr-color-dark:#020a02;
$back-gr-color-light:#cffacf;        
$trans-black: #010716b7;

$logo-color: #22d422;

$gap-l : 10px;
$gap-m : $gap-l / 2;
$border-radius-l : 5px;
$border-radius-m : $border-radius-l / 2;
$padding-l: 10px;
$padding-m: $padding-l / 2;
$margin-l: 10px;
$margin-m: $margin-l / 2;

$font-size-l: 16px;
$font-size-m: 12px;
$logo-font-size: 20px;

$max-container-width : 1400px;