// colors

$primary-color: #003b6a;
$light-pr-color: #1a6199;
$blue-color: #3683c1;
$light-bl-color: #5e9dcf;
$socnedary-color:#f31275;

$text-color-dark-l : #5c1432;
$text-color-dark-m:#703951;

$text-color-light-l : #cec9e9;
$text-color-light-m: darken($text-color-light-l,10);
$back-gr-color-dark:rgb(11, 1, 12);
$back-gr-color-light:rgb(235, 235, 235);        
$trans-black: #010716b7;

$logo-color: #f31275;

$gap-l : 10px;
$gap-m : $gap-l / 2;
$border-radius-l : 10px;
$border-radius-m : $border-radius-l / 2;
$padding-l: 10px;
$padding-m: $padding-l / 2;
$margin-l: 10px;
$margin-m: $margin-l / 2;

$font-size-l: 16px;
$font-size-m: 12px;
$logo-font-size: 20px;

$max-container-width : 1400px;