@import '../../GlibalStyles.scss/Variabls';

.ch-about-container {
    padding: 10px;
    @media (min-width: 530px) {
        display: flex;
        gap: 20px;
    }
    .desc-det {
        margin-bottom: 10px;
        flex: 1;
        @media (min-width: 768px) {
            flex: 2;
        }
       h5 {
        color: $primary-color;
        font-size: 18px;
        padding: 10px 0;
       }
       p {

        font-size: 13px;
        color: $blue-color;

       }
    }
    .stats {
        flex: 1;
        h5 {
            color: $primary-color;
            font-size: 18px;
            padding: 10px 0;
        }
        .joined {
            font-size: 13px;
            color: $blue-color;
            margin-bottom: 5px;
        }
        .views {
            font-size: 13px;
            color: $blue-color;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          
        }
    }
}