@import '../../GlibalStyles.scss/Variabls';

.channel-about {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: #000000b4;
     display: flex;
     align-items: center;
     justify-content: center;
     z-index: 9999999;
    .about-container {
        max-width: 550px;
        min-width: 350px;
        background-color: rgb(24, 19, 22);
        border-radius: 10px;
        padding-bottom: 20px;
        h3 {
            color: #fff;
            font-weight: 700;
            margin: 15px 0;
            text-transform: capitalize;
        }
        .about-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            svg {
                color: #fff;
            }
        }
        .channel-desc {
            max-height: calc(100vh - 150px);
            overflow-y: scroll;
            padding: 0 20px;
            .describtion {
                color: #fff;
                font-size: 16px;
                font-weight: 400;
            }
            .channel-links {
                .link {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    &:not(:last-of-type){
                        margin-bottom: 15px;
                    }
                    .icon {

                        img {
                            width: 28px;
                            height: 28px;
                            background-color: #fff;
                            border-radius: 50%;
                        }
                    }
                    .link-title {
                        h6 {
                            color: #fff;
                        }
                        a {
                            color: aqua;
                        }
                    }
                }
            }
            .channel-details {
                .details {
                    li {
                        display: flex;
                        align-items: center;
                        gap: 15px;
                        color: #fff;
                        &:not(:last-of-type){
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}