@import "../../GlibalStyles.scss//Variabls";
@import "../../GlibalStyles.scss//Mixin";
.logo {
    @include flex-box(center);
    width: 100%;
    .menu-icon {
        @include flex-box(center,center);
        border-radius: $border-radius-m;
        color: $text-color-light-l;
        padding: $padding-m;
        &:hover {
            background-color: lighten($back-gr-color-dark,10)
        }
        svg {
            font-size: 28px;
        }
    }
    a {
        @include flex-box(center,center,$gap-m);
        border-radius: $border-radius-m;
        text-transform: uppercase;
        font-size: $logo-font-size;
        color: $logo-color;
        font-weight: bold;
        span {
            @include flex-box(center,center,0);
            width: 30px;
            height: 20px;
            background-color: $text-color-light-l;
            border-radius: $border-radius-m;
            color: $logo-color;
        }
    }
}
