@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.playlist-card {
    cursor: pointer;

    .playlist-img {
        position: relative;
        overflow: hidden;
        .p-img  {
            img {
                height: 100%;
                @media (min-width: 530px){
                    border-radius: $border-radius-l;
                } 
            }
        }
        .count {
            @include flex-box(center,center,$gap-m);
            position: absolute;
            bottom:10px ;
            padding: 1px $padding-m;
            background-color: rgba(0, 0, 0, 0.829);
            color: $text-color-light-l;
            border-radius: $border-radius-m; 
        }
        .play-all {
            display: none;
            background-color: rgba(0, 0, 0, 0.651);
            color: $text-color-light-l;
            text-transform: uppercase;
            font-size: $font-size-m;
            font-weight: 700;
            z-index: 9999;
            @media (min-width: 530px){
                border-radius: $border-radius-l;
            } 
        }
    }
    &:hover .play-all {
        @include flex-box(center,center,$gap-m);
    }
   .p-t-box {
        padding: 0 $padding-l;
        flex: 1;
      .p-l-title {
        font-size: $font-size-l;
        color: $text-color-dark-l;
        &.dark {
            color: $text-color-light-l;
        }

      }
      .type {
        font-size: $font-size-m;
        color: $text-color-dark-m;
        text-transform: capitalize;
        &.dark {
            color: $text-color-light-m;
        }
      }
      .first-tow-video {
        margin-top: $margin-l;
        .details {
            &:not(:last-of-type) {
                margin-bottom: $margin-m   
            }
            @include flex-box(_,_,3px);
            color: $text-color-dark-m;
            font-size: $font-size-m;
            &.dark {
                color: $text-color-light-m;
            }
        }
      }
   }
   &.watch, &.search {
    @media (min-width: 430px) {
        display: flex;
        margin-bottom: $margin-l * 2;
           .playlist-img {           
              flex: 1;
            }
            .p-t-box {
                flex: 1.3;
            }

        }
   }
   &.search {
     @media (min-width:768px) {
        .p-t-box {
            flex: 3;
        }
     }
     @media (min-width: 992px) {
        .p-t-box {
            flex: 2.5;
        }
     }
   }
} 
