@import "../../../GlibalStyles.scss/Variabls";
@import "../../../GlibalStyles.scss/Mixin";

.loader-moviement {
    position: relative;
    overflow: hidden;
    &::before {
        @include position();
        width: 0;
        animation: laoderBackgroundMove 2s ease-in-out infinite forwards;
    }
}

.watch-Loading {
    padding: $padding-20;
    margin: 0 auto;
    max-width: 720px;
    @media (min-width: 992px) {
        @include flex-box();
        max-width: 1300px;
     }
    .vid-pla {
        flex-basis: 70%;
        .vid-p {
            height: 300px;
            margin-bottom: $marging-15;
        }
        .vid-p-det {
            width: 200px;
            height: 20px;
            border-radius: $border-r-10;
            margin-bottom: $marging-15;
        }
      
    }
    .rel-vid {
        flex-basis: 30%;
        .vid-c {
            @include flex-box();
            margin-bottom: $marging-15;
            .vid-img {
                flex-basis: 50%;
                height: 120px;
                border-radius: $border-r-10;
                @media (min-width: 420px) and (max-width: 991px) {
                    height: 220px;
                }

            }
            .box {
                flex-basis: 50%;
            }
            .vid-det {
                height: 20px;
                border-radius: $border-r-10;
                margin-bottom: $marging-15;
            }
        }
    }
}

@keyframes laoderBackgroundMove {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        left: 100%;

    }
}