
@import '../../GlibalStyles.scss/Variabls';

.chanel-details {
    display: flex;
    gap: 10px;
    width: 100%;
    .container {
        padding: 15px;
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        flex: 1;
        @media (min-width: 790px) {
          width: calc(100% - 70px);
        }
        .banner {
            // max-width: 100%;
            img {
                border-radius: 10px;
            }
        }
         .channel-content {
            max-width: 1170px;
            margin: 0 auto;
            .playlist-container {
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
                gap: 10px;
                padding: 20px 10px;
            }
         }
    }
}