
@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.chanel-details {
    display: flex;
    gap: 10px;
    width: 100%;
    .container {
        padding: 15px;
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        flex: 1;
        @media (min-width: 790px) {
          width: calc(100% - 70px);
        }
        .banner {
            // max-width: 100%;
            img {
                border-radius: 10px;
            }
        }
        .ch-card {
            @include flex-box(center,flex-start,$gap-15);
            margin: $marging-15 0;
            .ch-t {
                font-size: $font-size-3;
                margin-bottom: $marging-5;
                max-height: 32px;
                overflow: hidden;
            }
            .m-h {
                max-height: 21px;
                overflow: hidden;
            }
            .ch-card-img {
                width: 160px;
                height: 160px;
                border-radius: $border-r-full;
            }
            .ch-info {
                .flix {
                    @include flex-box(center,flex-start,$gap-5);
                    svg {
                        font-size: $font-size-5;
                    }
                }
                .ch-desc {
                    margin: $marging-5 0;
                }
                .ch-card-links {
                    margin-bottom: $marging-10;
                }
            }
        }
         .channel-content {
            max-width: 1170px;
            margin: 0 auto;
            .playlist-container {
                display: grid;
                grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
                gap: 10px;
                padding: 20px 10px;
            }
         }
    }
}