
@import '../../GlibalStyles.scss/Variabls';

.short-card {
    cursor: pointer;
    .short-img {
        position: relative;
        max-height: 320px;
        border-radius: $border-radius-l;
        overflow: hidden;
        img {
            max-width: 240px;
            max-height: 320px;
        }
        .short-player{
            z-index: 999;
        }
    }
    .short-desc {
        .short-title {
           font-size: $font-size-l;
           &.dark {
              color: $text-color-light-l;
            }
           @media (max-width: 530px) {
                 color: $text-color-light-l !important;
             }
             color: $text-color-dark-l;
        }
        .sh-viwes {
            font-size: $font-size-m;
            color: $text-color-dark-m;
            &.dark {
                color: $text-color-light-m;
              }
        }
    }
    @media (max-width: 530px) {
        position: relative;
        .short-desc {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
    }
}