@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";

.loading {
    position: absolute;
    left: 0;
    top: 0;
    @include flex-box(center,center);
    width: 100vw;
    height: 100vh;
    background-color: $back-gr-color-dark;
    z-index: 9999999999999999999999999999999999;
    animation: rotateLogo .5s 2.4s forwards ;
    .logo {
        @include flex-box(center,center);
        width: 100%;
        padding: 20px;
        width: fit-content;
        border-radius: $border-radius-l;
        border: 1px solid lighten($color: $back-gr-color-dark, $amount: 5);
        position: relative;
        overflow: hidden;
        animation: rotateLogo .5s 1.9s forwards ;
        .background {
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 100%;
            background-color: $logo-color; 
            animation: animateLog .5s 1.4s forwards ease ;
        }
        .logo-cont {
            @include flex-box(center,center,$gap-m);
            border-radius: $border-radius-m;
            h1 {
                position: relative;
                text-transform: uppercase;
                color: $back-gr-color-dark;
                font-weight: bold;
                @include flex-box(center,center,0);
                overflow: hidden;
                &::before{
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 0;
                    height: calc(100% - 6px);
                    z-index: 0;
                    background-color: lighten($color: $back-gr-color-dark, $amount: 10);
                     border: 1px solid transparent;
                    border-radius: $border-radius-l;
                    animation: animateBackground .8s .8s ease ;
                } 
                span {
                    z-index: 100;
                }
                
            }
           .icon {
                position: relative;
                @include flex-box(center,center,0);
                width: 100px;
                height: 60px;
                background-color: $back-gr-color-dark;
                border-radius: $border-radius-l;
                color: $logo-color;
                overflow: hidden;
                &::before{
                    content: '';
                    position: absolute;
                    top: 3px;
                    left: 0;
                    width: 0;
                    height: calc(100% - 6px);
                    z-index: 0;
                    background-color: lighten($color: $back-gr-color-dark, $amount: 5);
                    border: 1px solid transparent;
                    border-radius: $border-radius-l;
                    animation: animateBackground .8s ;
                }                
                svg {
                    font-size: 60px;
                    color: $logo-color;
                    z-index: 100;
                }
            }
        }
    }
}

@keyframes animateBackground{
    50% {
        width: 100%;
        left: 0;
        border-color: $logo-color;
    }
    99% {
        left: 100%;
        width: 100%;
    }
    100% {
        background-color: transparent;
    }

}

@keyframes animateLog {
    100% {
        width: 100%;
    }
}

@keyframes rotateLogo {
    100%{
        transform: rotateX(90deg);
        opacity: 0;
    }
}