@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";

.loading {
    @include flex-box(center,center);
    width: 100%;
    height: calc(100vh - 100px);
    .logo {
        @include flex-box(center,center);
        width: 100%;
        padding: 20px;
        width: fit-content;
        border-radius: $border-radius-m;
        border: 1px solid $logo-color;
        animation: borderColor 1s  infinite forwards;
        .logo-cont {
            @include flex-box(center,center,$gap-m);
            border-radius: $border-radius-m;
            h1 {
                text-transform: uppercase;
                font-size: 40px;
                color: $logo-color;
                font-weight: bold;

            }
            span {
                @include flex-box(center,center,0);
                width: 100px;
                height: 60px;
                background-color: $text-color-light-l;
                border-radius: $border-radius-m;
                color: $logo-color;
                svg {
                    font-size: 60px;
                }
            }
        }
    }
}

@keyframes borderColor {
    50% {
        border-color: #fff;
    }
    100% {
        border-color: $back-gr-color-dark ;
    }
}
