@import '../../GlibalStyles.scss/Variabls';

.comment-box {
    display: flex;
    gap: 5px;
    padding: 10px;
    a {
       width: fit-content;
       min-width: fit-content;
      .auther-img {
        
         width: 40px;
         height: 40px;
         border-radius: 50%;
      }  
    }
    .auther-desc {
       .auth-name {
            display: inline;
            margin-right: 10px;
            color: $primary-color;
            font-size: 14px;
         }    
       .time {
          font-size: 12px;
          color: $light-pr-color;
       }
       .comment {
          font-size: 12px;
          -ms-word-break: break-all;
          -moz-word-break:break-all;
          word-break: break-all;
          max-width: 100%;
       }
       .like-dislike-btn {
          margin-top: 5px;
          display: flex; align-items: center;
          gap: 10px;
          button {
            padding: 0 5px;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 3px;
            border-radius: 6px;
            background-color: transparent;
            svg {
                width: 17px;
            }
          }
          .replies {
            color: $socnedary-color;
            font-size: 14px;
            font-weight: bold;
          }
       }
    }
}