@import '../../../../Styles/Variabls';
@import '../../../../Styles/Mixin';

.ch-home-player {
    max-width: 100%;
    padding: $padding-15 0;
    .player {
      border-radius: $border-r-10;
      overflow: hidden;
      margin: 0 auto;

      flex-basis: 50%;
      @media (min-width: 992px) {
        flex-basis: 30%;
      }
    }
    .player-desc {
        flex-basis: 50%;
        @media (min-width: 992px) {
            flex-basis: 70%;
          }
        .pl-title {
            margin: $marging-10 0;
        }
        .time-views {
            span {
                font-size: $font-size-m;
            }
        }
        aside {
            font-size: $font-size-m;
            word-break: break-all;
            line-height: 1.8;
            max-height: 200px;
            overflow: hidden;
            display: none;
        }
    }
    @media (min-width: 570px) {
        @include flex-box(flex-start,flex-start,$gap-10);
        .time-views {
            margin: $marging-10 0;
        }
        .player-desc {
            .pl-title {
                margin: 0;
            }
            aside {
                display: block;
            }
        }
    }
}