@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";


.acount-setting {
    position: fixed;
    width: 300px;
    max-width: calc( 100% - 20px) ;
    max-height: 100vh;
    top: 45px;
    z-index: 99999999999;
    border-radius: $border-r-10;
    padding: $padding-20;
    .acount-container {
        .acount-header {
            .user-info {
                @include flex-box();
                padding-bottom: $padding-l;
                .user-image {
                    width: 48px;
                    height: 48px;
                    border-radius: $border-r-full;
                }
                .user-name {
                    .name,.channel-handle {
                        font-size: $font-size-4;
                    }
                    a {
                        font-size: $font-size-6;
                        font-weight: 500;
                    }
                }
            }
            }
            
        .acount-body {
            max-height: calc(100vh - 150px);
            overflow-y: scroll;
            .acou-body-cont {
                height: fit-content;
                .google-aco {
                    border-top: 1px solid transparent;
                    padding: $padding-10 0;
                    li {
                        @include flex-box(center);
                        margin-top: $marging-10;
                        cursor: pointer;
                        padding: $padding-10;
                        border-radius: $border-r-10;
                        text-transform: capitalize;
                        font-size: $font-size-m + 2;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .oppt-menu {
        text-transform: capitalize;
        .oppt-header {
            @include flex-box(center);
            border-bottom: 1px solid transparent;
            padding-bottom: $padding-10;
            margin-bottom: $marging-10;
            .icon {
                @include flex-box(center,center);
                border-radius: $border-r-full;
                padding: $padding-10;
            }
            // .title {
            //     color: $text-color-dark-l;
            //     &.dark {
            //         color: $text-color-light-l;
            //     }
            // }
        }
        .menu-oppt {
            .oppt{
                @include flex-box(center,_,$gap-10);
                cursor: pointer;
                padding: $padding-10;
                border-radius: $border-r-10;
                span {
                    width: 32px;
                    svg {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}