@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.list-v-card {
    border-radius: $border-radius-l;
    width: calc(100% - 20px);
    padding: $padding-l;
    margin: $margin-l;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 99999;
    background-color: darken($color: $back-gr-color-light, $amount: 10);
    border: 1px solid darken($color: $back-gr-color-light, $amount: 20);
    &.active {
        .pl-v-content {
        height: calc(100vh - 300px);
        overflow-y: auto;
        }
    }
    &.dark {
       background-color: lighten($color: $back-gr-color-dark, $amount: 5);
       border-color: lighten($color: $back-gr-color-dark, $amount: 20);
    }
    @media (min-width:768px) {
        &.active {
            .pl-v-content {
                height: 300px;
            }
       } 
    }
    @media (min-width:992px) {
        &.active {
            .pl-v-content {
                height: 435px;
            }
       } 
     }
    .list-header {
        @include flex-box(center,space-between);
        .l-title {
           color: $text-color-dark-l ;
           font-size: $font-size-m;
           margin-bottom: $margin-m;
           &.dark {
              color: $text-color-light-l;
           }
        }
        .owner-channel {
           color: $text-color-dark-m ;
          font-size: 10px;
          margin-bottom: $margin-m;
          &.dark {
            color: $text-color-light-m;
         }
        }
        .l-toggle-btn {
           color: $text-color-dark-m ;
            background-color: transparent;
            padding: 0;
            &.dark {
                color: $text-color-light-m;
             }
        }
    }
    .pl-v-content {
         cursor: pointer;
         &.hidden {
            display: none;
         }

        .pl-card {
            @include flex-box(_,_,$gap-m);
            margin: $margin-m 0;
            padding: 3px;
            border-radius: $border-radius-m;
            border: 1px solid transparent;
            &:hover, &.active {
                background-color: darken($color: $back-gr-color-light, $amount: 25);
                position: relative;
                border-color: darken($color: $logo-color, $amount: 35);
            }
            &.dark {
                &:hover, &.active {
                    background-color: lighten($color: $back-gr-color-dark, $amount: 10);
                    border-color: lighten($color: $back-gr-color-dark, $amount: 35);;
                }
            }
            &.active::after {
                content: '';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                border: 10px solid;
                border-color: transparent $logo-color transparent transparent;
            }
           .lift-img {
            position: relative;
            min-width: 150px !important;
            @media (min-width: 768px) and (max-width: 991px) {
                min-width: 200px !important;
            }
            img {
                max-width: 100%;
                max-height: 100%;
                height: 100%;
                border-radius: $border-radius-m;
            }
            .v-length {
                position: absolute;
                bottom: 5px;
                right: 5px;
                font-size: $font-size-m;
                border-radius: $border-radius-m;
                background-color: $trans-black;
                color: $text-color-light-l;
                padding: 0 $padding-m;

            }
           } 
           .right-content {
            .l-v-title {
               font-size: $font-size-l;
               margin-bottom: $margin-m;
               color: $text-color-dark-l;
               &.dark {
                 color: $text-color-light-l;
               }
            }
            .l-ch-name {
                font-size: $font-size-m;
               color: $text-color-dark-m;
               &.dark {
                color: $text-color-light-m;
              }
            }
           }
        }
    }
}