@import '../../GlibalStyles.scss/Variabls';

.video-details {
    .container {
       display: flex;
       align-items: flex-start;
       gap: 10px;
       padding: 0;
       flex-direction: column;
       max-width: 1300px;
       @media (min-width: 992px) {
          flex-direction: row;
         //  padding: 0 10px;
       }
       .related-video {
         max-width: 100%;
         position: relative;
          @media (min-width: 992px) {
            max-width: 30%;
             flex-basis: 25% !important;
             padding-top: 10px;
             width: 100%;
         }
       }
    }
}