@import '../../GlibalStyles.scss/Variabls';

.video-details {
    .container {
       display: flex;
       align-items: flex-start;
       gap: 10px;
       padding: 0;
       flex-direction: column;
       max-width: 1170px;
       @media (min-width: 768px) {
          flex-direction: row;
          padding: 0 10px;
       }
       .related-video {
         width: 100%;
         @media (min-width: 768px) {
            height: calc(100vh - 53px);
            overflow-y: auto;
            flex: 1;
            padding-top: 10px;
         }
         .relate-title {
            padding: 0 0 10px 10px;
            text-transform: capitalize;
            @media (max-width: 529px) {
               position: sticky;
               padding-top:5px ;
               top: 259px;
               z-index: 9999;
            }

         }
       }
    }
}