@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.video-details {
    .container {
      @include flex-box();
       padding: 0;
       flex-direction: column;
       max-width: 1300px;
       @media (min-width: 992px) {
          flex-direction: row;
         //  padding: 0 10px;
       }
       .related-video {
         max-width: 100%;
         position: relative;
          @media (min-width: 992px) {
            max-width: 33%;
             flex-basis: 33% !important;
             padding-top: $padding-l;
             width: 100%;
         }
       }
    }
}