@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.ch-home-player {
    max-width: 100%;
    padding: $padding-l 0;
    overflow: hidden;
    .player {
      min-width: 370px;
      max-width: 424px;
      min-height: 200px;
      max-height: 238px;
      border-radius: $border-radius-l;
      margin: 0 auto;
      overflow: hidden;
    }
    .player-desc {
        .pl-title {
            margin: $margin-l 0;
            a {
                color: $text-color-dark-l;
            }
            &.dark {
                a {
                    color: $text-color-light-l; 
                }
            }
        }
        .time-views {
            span {
                font-size: $font-size-m;
                color: $text-color-dark-m;
            }
            &.dark {
                span {
                    color: $text-color-light-l; 
                }
            }
        }
        aside {
            font-size: $font-size-m;
            word-break: break-all;
            line-height: 1.8;
            overflow: hidden;
            display: none;
            color: $text-color-dark-m;
        }
        &.dark {
            aside {
                color: $text-color-light-l;
            }
        }
    }
    @media (min-width: 570px) {
        @include flex-box;
        min-height: 200px;
        max-height: 238px;
        .time-views {
            margin: $margin-l 0;
        }
        .player-desc {
            .pl-title {
                margin: 0;
            }
            aside {
                display: block;
            }
        }
    }
}