@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.channel-home{
   .part-container {
      padding-bottom: $padding-l;
      max-width: 100%;
      position: relative; 
      &:not(:last-of-type){
         border-bottom: 1px solid darken($color: $back-gr-color-light, $amount: 10);
      }
      &.dark:not(:last-of-type) {
         border-color: lighten($color: $back-gr-color-dark, $amount: 10);
      }
      .part-title {
         @include flex-box(center);
          color: $text-color-dark-l;
          margin: $margin-l 0;
          font-size: $font-size-l;
          font-weight: 700;
          span {
            @include flex-box(center,_,$gap-m);
            font-size: 14px;
            color: $text-color-dark-m;
            cursor: pointer;
            border-radius: $border-radius-l;
            padding: 3px 7px;
            border: 1px solid darken($color: $back-gr-color-light, $amount: 10);
            svg {
               padding: 0;
            }
            &:hover {
               border-color: darken($color: $back-gr-color-light, $amount: 15);
               background-color: darken($color: $back-gr-color-light, $amount: 10);
            }
          }
          &.dark {
            color: $text-color-light-l;
            span {
               color: $text-color-light-m;
               border-color: lighten($color: $back-gr-color-dark, $amount: 10);
               &:hover {
                  border-color: lighten($color: $back-gr-color-dark, $amount: 15);
                  background-color: lighten($color: $back-gr-color-dark, $amount: 10);
               }
            }
          }
          img {
            width: 30px;
          }
         }
      .sub-title {
         color: $text-color-dark-m;
         margin-bottom: $margin-l;
         font-size: $font-size-m;
         font-weight: 700;
         &.dark {
            color: $text-color-light-m;
         }
      }
      .scroll-next,.scroll-prev {
         display: none;
         @media (min-width: 430px) {
            position: absolute;
            @include flex-box(center,center);
            top: calc(50% - 40px);
            width: 30px;
            height: 30px;
            background-color: darken($color: $back-gr-color-light, $amount: 5);
            border: 1px solid $text-color-dark-m;
            border-radius: 50%;
            padding: $padding-l + 9;
            cursor: pointer;
            z-index: 99999;
            &:hover {
               background-color: darken($color: $back-gr-color-light, $amount: 10);
            }
            svg {
               color: $text-color-dark-l;
               font-size: 18px;
            }
            &.dark {
               background-color: lighten($color: $back-gr-color-dark, $amount: 5);
               border-color: $text-color-light-l;
               &:hover {
                  background-color: lighten($color: $back-gr-color-dark, $amount: 10);
               }
            svg {
               color: $text-color-light-l;
            }
            }
         }
      }
      .scroll-next {
         right: -15px;
      }
      .scroll-prev {
         left: -15px;
      }
      .videos-wraper { 
         overflow-x: scroll;
         max-width: 100%;
         .videos.channel-home {
            display: flex;
            flex-wrap: nowrap;
            width: fit-content;
            .video-card, .playlist-img{
                width: 200px;
                min-width: 200px;
            }
            .short-cards {
               display: flex;
               gap: 15px;
               .short-card  {
                  min-width: 180px;
                  width: 180px;
               }
            }

         }
      }
      .channel_listing {
         width: 100%;
         display: flex;
         gap: 50px;
         text-align: center;
         .main-chan-card {
            flex-direction: column !important;
            justify-content: center;
            .card {
               .img-l  {
                  width: 90px !important;
                  height: 90px !important;
               }
            }
            .subscribe  {
               flex-direction: column;
               text-align: center;
               justify-content: center;
            }
            .name {
               text-align: center;
            }
         }
      }
      .members_listing {
         display: flex;
         align-items: center;
         gap: 10px;
         .member-image {
             
            .img {
               min-width: 60px;
               min-height: 60px;
               border-radius: 50%;
            }
         }
      }
   }
}