@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.m-community {
    padding-top: 50px;
    .community {
        border-radius: $border-radius-l;
        border: 1px solid darken($color: $back-gr-color-light, $amount: 10);
        margin-bottom: $margin-l;
        padding: $padding-l;
        max-width: 770px;
        .auther {
            @include flex-box;
            color: $text-color-dark-l;
            .auth-img {
                width: 48px;
                min-width: 48;
                img {
                    border-radius: 50%;
                }
            }
            .auth-n-publish {
                span {
                    color: $text-color-dark-m;
                    font-size: $font-size-m;
                }
            }
        }
        article {
            color: $text-color-dark-m;
            padding: 0 $padding-l;
            margin-bottom: $margin-l;
            font-size: $font-size-m;
            font-weight: 700;
        }
        .attachment {
            .images {
                display: flex;
                overflow: scroll;
                border-radius: $border-radius-l;
                width: 650px;
                max-width: 100% !important;
                margin: 0 auto;
                scroll-snap-type: x mandatory;
                .img-holder{
                    min-width: 100%;
                    position: relative;
                    scroll-snap-align: start;
                    .albu, .icon {
                        @include flex-box(center,center);
                        position: absolute;
                        background-color: $trans-black;
                        color: $text-color-light-l;
                        border: 1px solid $text-color-light-m;
                    }
                    .albu {
                        right: 10px;
                        bottom: 10px;
                        padding: 5px;
                        border-radius: 5px;
                    }
                    .icon {
                        padding: $padding-l;
                        top: calc(50% - 35px);
                        border-radius: 50% ;
                        z-index: 9999;
                        &:hover {
                            background-color: lighten($color: $back-gr-color-dark, $amount: 10);
                        }
                    }
                    .next {
                        right: 0;
                    }
                    .prev {
                        left: 0;
                    }
                }   
           }  
           .choices {
            max-width: 640px;
            margin: 0 auto;
            .choice {
                padding: 15px;
                color: #b1adad;
                border: 1px solid #bebcbc;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
                .not-check {
                    width: 15px;
                    height: 15px;
                    border: 1px solid #fff;
                    border-radius: 50%;
                }
                span {
                    svg {
                        font-size: 15px;
                        padding: 0;
                    }
                }
            }
           }

        }
    .stistisic {
        @include flex-box;
        max-width: 640px;
        margin: 0 auto;
        margin-top: $margin-l;
        & > div {
            @include flex-box(center,center,$gap-m);
            cursor: pointer;
            h5 {
                color: $text-color-dark-m;
                font-weight: 700;
                font-size: $font-size-m;
            }
            svg {
                color: $text-color-dark-m;
                font-size: 20px;
            }
        }
    }
  }
  .loading-more {
    color: $text-color-dark-l;
    padding: $padding-l 0;
    text-align: center;
    &.dark {
        color: $text-color-light-l;
    }
  }
}