@import '../../GlibalStyles.scss/Variabls';
@import '../../GlibalStyles.scss/Mixin';

.video-desc {
   @media (max-width: 429px) {
      margin-top: 230px; 
   }
    .video-title {
       padding: $padding-l $padding-l 0;
    }
   .left {
      margin: $margin-l;
      @media (min-width: 768px) {
         @include  flex-box(center,space-between);
         .watch {
            flex-basis: 60%;
            margin: 0
         }
      }
   }
   .views-desc {
      border-radius: 10px;
      background: darken($back-gr-color-light,5);
      padding: $padding-l;
      margin: $margin-l;
      &.dark {
         background: lighten($back-gr-color-dark,5);
      }
      .desc-head {
         @include flex-box(center);
         z-index: -1;
         .views, .time {
            font-size: $font-size-m;
            font-weight: 700;
            text-transform: capitalize;
            color: $text-color-dark-l;
            &.dark {
               color: $text-color-light-l;
            }
         }
      }
      .desc-content {
         border-radius: $border-radius-m;
         .desc {
            font-size: $font-size-m + 2;
            color: $text-color-dark-m;
            cursor: pointer;
            &.dark {
               color: $text-color-light-l;
            }
            div {
               margin: $margin-m 0;
               a {
                  color: $text-color-light-m;
                  word-break: break-all;
               }
            }
         }
         .show-more {
            color: $text-color-dark-l;
            justify-self: flex-end;
            font-size: 12px;
            cursor: pointer;
            text-transform: capitalize;
            &.dark {
              color: $text-color-light-l;
            }
         }
      }
   }
 }