@import '../../GlibalStyles.scss/Variabls';

.video {
    padding-top: $padding-l;
    width: 100%;
    @media (min-width: 992px) {
      flex-basis: 67%;
    }
     .video-desc {
       .video-title {
          font-size: $font-size-4;
       }
     }
  }
