@import '../../GlibalStyles.scss/Variabls';

.video {
    padding-top: $padding-l;
    width: 100%;
    @media (min-width: 992px) {
      flex-basis: 67%;
    }
     .video-desc {
       .video-title {
          color: $text-color-dark-l;
          font-size: $font-size-l;
          &.dark {
            color: $text-color-light-l;
          }
       }
     }
  }
