@import "../../GlibalStyles.scss/Variabls";
@import "../../GlibalStyles.scss/Mixin";

@mixin display-flex ($Jf : flex-start) {
    display: flex;
    align-items: center;
    justify-content: $Jf;
}

.links-btns {
    @media (max-width: 767px) {
       overflow-y: auto;   
    }
    .links-btns-container {
       @include flex-box(center,flex-start,$gap-m);
       width: fit-content;
       .like-dis {
         @include flex-box(center,flex-start,$gap-m);
          padding: 3px $padding-l;
          border-radius: $border-radius-l;
          overflow: hidden;
          .like-btn {
             @include flex-box(center,flex-start,$gap-m);
             background-color: inherit;
             padding-right: $padding-m;
             flex: 2
          }
          .dis-btn {
             flex: 1;
          }
       }
       .box {
          padding: 3px $padding-l;
          border-radius: $border-radius-l;
          overflow: hidden;
       }
       .btn {
         @include flex-box(center,flex-start,$gap-m);
          font-size: $font-size-m;
          font-weight: 700;
          text-transform: capitalize;
          color: $text-color-dark-m;
          background: darken($color: $back-gr-color-light, $amount: 5);
          svg {
             width: 22px;
          }
          &:hover {
            background: darken($color: $back-gr-color-light, $amount: 10);
          }
          &.dark {
            color: $text-color-light-m;
            background-color: lighten($back-gr-color-dark,5);
            &:hover {
               background-color: lighten($back-gr-color-dark,10);
             }
          }
       }
       @media (min-width: 768px) {
          .hide {
             display: none;
          }
       }
       @media (min-width: 992px) and (max-width: 1270px){
          .down-btn {
             display: none;
          }
       }
       .more {
           display: none;
           position: relative;
           @media (min-width: 768px ) {
             display: block;
           }
           .more-btns {
             position: absolute;
             top: 49px;
             right: 0px;
             z-index: 999999;
             padding: $padding-l;
             border-radius: $border-radius-l;
             background-color: darken($color: $back-gr-color-light, $amount: 5);
             &.dark {
               background-color: lighten($color: $back-gr-color-dark, $amount: 5);
             }
             .down-btn {
                display: none;
                @media (min-width: 992px) and (max-width: 1270px) {
                   display: flex;
             }
             }
            .hide {
                display: flex;
             }
             .btn, .box{
                padding: $padding-m;
                width: 100%;

                &:not(:last-child) {
                   margin-bottom: $margin-l;
                }
             }
           }
         .btn {
           padding: $padding-m;
           border-radius: $border-radius-m;
         }
       }
    }
 }